.image
    width: 3rem
    height: 3rem
    align-self: center

.gravatar
    width: 3rem
    align-self: center
    display: flex
    flex-flow: column
    align-items: center

.title
    align-self: center
    flex-grow: 1
    margin-bottom: 0rem !important

header
    display: flex
    flex-direction: row
    justify-content: center
    padding-top: 1rem
    padding-bottom: 1rem
    margin-bottom: 1rem

.container
    padding-left: 0.5rem
    padding-right: 0.5rem
    display: flex
    flex-direction: column

html, body, .container
    height: 100%

#container
    flex: 1

.small
    display: none

footer
    margin-top: 1rem
@media (max-width: 700px)
    .full
        display: none
    .small
        display: inline-block

.login
    max-width: 62rem
    margin: 0 auto
    margin-top: 1rem

.summe
    background-color: $success

.reisen tr:hover
            background-color: hsl(179, 81%, 86%)
            cursor: pointer

.footer
    background-color: white